*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

table{
    font-size: small;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th,td{
    padding: 5px;
    text-align: left !important;
    border: 1px solid #181717 !important;
}

th{
    background-color: #F6F1F1;
    color: #181717;
}

td{
    background-color: #f6f1f1bd;
    color: #181717;
}

@media only screen  and (max-width:900px){

    #top{
        margin-top: 10%;
    }

    .TableResponsive table, .TableResponsive thead, .TableResponsive tbody, .TableResponsive tr, .TableResponsive th ,.TableResponsive td{
        display: block;
    }

    .TableResponsive thead{
        display: none;
    }

    .TableResponsive td{
        margin-top: -1px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        padding-left: 130px;
        position: relative;
        overflow-x: auto;
    }

    .TableResponsive td::before{
        padding: 10px;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 110px;
        bottom: 0;
        background-color: #F6F1F1;
        color: #181717;
        display: flex;
        align-items: center;
        font-weight: bold;

    }

    .TableResponsive tr{
        margin-bottom: 1rem;
    }

    @media only screen  and (max-width:700px){
       .TableResponsive td{
           width: 300px;
       }

       @media only screen  and (max-width:300px){
           .TableResponsive td{
               width: 220px;
           }
       }
    }

}
