
/* Bordered form */
form {
    width:50%;
    margin: auto;
    padding: 30px;
    background: #F6F1F1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h2{
    margin: 5%;
    text-align: center;
}


input[type=submit] {
    width: 100%;
    margin: auto;
    color: #181717;
    padding: 14px;
    cursor: pointer;
    border:  2px solid #181717;  
    border-radius: 40px;
    text-align: center;
}

input[type=submit]:hover {
    width: 100%;
    margin: auto;
    background-color: F6F1F1;
    color: #53af57;
    border: 2px solid #53af57;
    border-radius: 40px;
}

fieldset{
    border: none;
}
