/*Général*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #181717 !important;
}

main{
    margin-top: 10%;
    margin-bottom: 5%;
}

h1{
    font-size: xx-large;
    text-align: center;
    color: #F6F1F1;
    margin: 2% auto;
}

h2{
    font-size: 30px;
    margin: auto;
    text-align: justify;
}

h3{
    font-size: x-large;
    margin: 2% auto;
}

p{
    font-size: medium;  
    text-align: justify;
}

.ContainedPost{
    text-overflow: ellipsis;
    text-align: justify;
    height: auto;
    width: 700px;
    border: none;
    padding: 2px 5px;
    white-space: normal;
    overflow: auto;
}

textarea{
    width: 100%;
    height: 500px; 
    overflow: auto;
    resize: none;
    margin: 20px auto;
}

#marge{
    margin-bottom: 10px;
}

#bouton_delete{
    text-decoration: none;
    display: flex;
    float: right;
}

/*Article principal*/

.article_principal h2{
    font-size: 40px;
}

.article_principal{
    width: 80%;
    display: flex;
    margin: 2% auto;
    border: solid #F6F1F1;
    background-color: #F6F1F1;
}

.article_principal article{
    display: block;
    margin: auto;
}

.article_principal img{
    margin: 4%;
    border-radius: 20%;
}

/*Article principal : Boutton*/

.article_principal button{
    font-weight: bolder;
    background-color: #181717;
    color: #F6F1F1;
    padding: 1% 10%;
    border-radius: 40px;
    font-size: small;
}

.article_principal button:hover{
    font-weight: bolder;
    background-color: #F6F1F1;
    color:#181717;
    padding: 1% 10%;
    border-radius: 40px;
}

.articlePrincipal{
    padding: 4%;
}

.img{
    margin: auto;
    margin: auto 10px;
}

.image{
    box-shadow: 0px 0px 15px 5px rgba(24,23,23,0.5);
    max-width: 300px;
    max-height: 300px;
    object-fit: scale-down;
    object-position: center;
}

/*Article secondaire*/

.texte_article h3{
    text-align: center;
    color: #F6F1F1;
    font-size: x-large;
}

.texte_article p{
    font-size: medium;
    margin: auto 5%;
    color: #F6F1F1;
    text-align: justify;
}

.texte_article img{
    display: flex;
    margin: 4% auto;
    border-radius: 40px;
    width: 40%;
    height: auto;
}

.texte_article{
    margin: 5% auto;
}

/*footer*/

footer{
    display: block;
    position: relative;
    bottom: 0;
    
    background-color:  #F6F1F1;
    font-style: italic;
    font-size: small;
}

/*Test Mobile*/
@media only screen and (max-width: 1024px)
{
    .image{
        max-width: 200px;
        max-height: 200px;
    }
    .article_principal h2{
        font-size: 20px;
    }

    h3{
        font-size: small;
    }

    p{
        font-size: x-small;
    }

    @media only screen and (max-width: 760px)
    {
        .image{
            max-width: 150px;
            max-height: 150px;
        }
        .article_principal h2{
            font-size: 16px;
        }

        main{
            margin-top: 22%;
        }

        .articlePrincipal{
            padding: 2%;
        }

        .article_principal button{
            font-weight: bolder;
            background-color: #181717;
            color: #F6F1F1;
            padding: 1% 5%;
            border-radius: 40px;
            font-size: x-small;
        }
        
        .article_principal button:hover{
            font-weight: bolder;
            background-color: #F6F1F1;
            color:#181717;
            padding: 1% 5%;
            border-radius: 40px;
        }

        @media only screen and (max-width: 500px)
        {
            .image{
                max-width: 100px;
                max-height: 100px;
            }
            .article_principal h2{
                font-size: 10px;
            }

            h3{
                font-size: x-small;
            }

            p{
                font-size: xx-small;
            }

            .articlePrincipal{
                padding: 1%;
            }
            
            .article_principal button{
                font-weight: bolder;
                background-color: #181717;
                color: #F6F1F1;
                padding: 0 5%;
                border-radius: 40px;
                font-size: 5px;
            }
            
            .article_principal button:hover{
                font-weight: bold;
                background-color: #F6F1F1;
                color:#181717;
                padding: 0 5%;
                border-radius: 40px;
            }

            .bouton_index{
                font-size: xx-small;
            }

            @media only screen and (max-width: 380px)
            {
            #TitreIndex{
                margin-top: 25%;
            }
            .article_principal h2{
                font-size: 8px;
            }

            h3{
                font-size: 7px;
            }

            p{
                font-size: 5px;
                margin-bottom: 0;
            }

            .article_principal button{
                font-weight: bolder;
                background-color: #181717;
                color: #F6F1F1;
                padding: 0 5%;
                border-radius: 40px;
                font-size: 4px;
            }
            
            .article_principal button:hover{
                font-weight: bold;
                background-color: #F6F1F1;
                color:#181717;
                padding: 0 5%;
                border-radius: 40px;
            }
            }
        }
    }
}

/*Button delete*/
.delete {
    color: #181717;
}
.delete:hover {
    color: #dc2a2a;
}