h2, .p_user{
    color:#F6F1F1;
}
h2{
    margin: auto;
    padding: 10px;
    width: 500px;
}
.p_user{
    margin: auto;
    padding: 10px;
    height: 50px;
    background-color: #F6F1F1;
    color: #181717;
    width: 500px;
    text-align: center;
}

.user{
    margin: 50px;
    text-align: center;
}

.imgUser{
    width: 100%;
    text-align: center;
}

img{
    width: 500px;
    margin: 5% auto;
    border: 1px solid #F6F1F1;
}

/*Bouton utilisateur*/

#button3 a{
    text-decoration: none;
    border: 5px dotted #F6F1F1;
    color: #F6F1F1;
    border-radius: 40px;
    padding: 20px;
    margin: auto;
}

#button3{
    display: flex;
    position: absolute;
    width: 100%;
    padding: 200px auto;
}

#button3 a:hover{
    border: none;
}

#button3 a:hover {
    animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
    0% {
        opacity: 0;
        font-size: large;
    }
    50% {
        opacity: 0.5;
        font-size: xx-large;
    }
    100% {
        opacity: 1;
        font-size: xx-large;
    }
}

/*Button Display / Button Add*/

#buttonDisplayADD{
    display: flex;
    position: relative;
    width: 100%;
    margin: 100px auto;
}

#buttonDisplay, #buttonADD{
    text-decoration: none;
    border: 5px inset #F6F1F1;
    color: #F6F1F1;
    border-radius: 40px;
    padding: 20px;
    display: inline-block;
    margin: 50px auto;
}

#buttonDisplay:hover, #buttonADD:hover{
    border-style: outset;
}

/*Test Mobile*/

@media only screen and (max-width:700px)
{
    img{
        width: 200px;
    }
    #buttonDisplay, #buttonADD, #button3 a{
        font-size: 10px;
        border-width: 2px;
        margin: 5px auto;
    }
    h2{
        width: 300px !important;
    }
    .p_user{
        height: 40px !important;
        width: 300px !important;
    }
    @media only screen and (max-width:500px)
    {
        h1{
            font-size: 20px !important;
        }
        h2{
            width: 200px !important;
            font-size: 15px !important;
        }
        .p_user{
            height: 30px !important;
            width: 200px !important;
        }
        @media only screen and (max-width:375px)
        {
            img{
                width: 125px;
            }
            h1{
                font-size: 15px !important;
            }
            h2{
                width: 150px !important;
                font-size: 10px !important;
            }

            .p_user{
                height: 30px !important;
                width: 150px !important;
                font-size: 10px !important;
            }
            @media only screen and (max-width:340px)
            {
                h1{
                    font-size: 15px !important;
                }
                h2{
                    width: 125px !important;
                    font-size: 10px !important;
                }

                .p_user{
                    height: 30px !important;
                    width: 125px !important;
                    font-size: 8px !important;
                }
                @media only screen and (max-width:300px)
                {
                    h1{
                        font-size: 9px !important;
                    }
                    h2{
                        width: 90px !important;
                        font-size: 8px !important;
                    }

                    .p_user{
                        height: 30px !important;
                        width: 90px !important;
                        font-size: 5px !important;
                    }
                }
            }
        }
    }
}
