header{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    /*position: fixed;*/
    background-color:  #F6F1F1;
    padding: 3%;
    text-align: right;
}

.menu ul{
    display: inline;
    margin: 0 auto;
}

.menu li{
    display: inline;
    font-size: 110%;
}

.menu a{
    font-weight: bolder;
    text-decoration: none;
    color : #181717;
    padding: 1% 4% 4% 4%;
    text-align: center;
    margin: 0 auto;
}

.menu a:hover{
    background-color: #181717;
    color: #F6F1F1;
    border-radius: 40px 40px 0px 0px;
    padding: 1% 4% 4% 4%;
}

.compte{
    margin-right: 3%;
}

/*Image*/

.menu img{
    border-radius: 100%;
}

.gauche img{
    display: flex;
    position: absolute;
    top: 0;
    left:0;
    width: 5%;
    margin: 1%;
}

.droite img{
    display: flex;
    position: absolute;
    top: 0;
    right:0;
    width: 5%;
    margin: 1%;
}