header{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    /*position: fixed;*/
    background-color:  #F6F1F1;
}

nav{
    text-align: center;
}

.menu li{
    display: inline;
    border-radius: 50px;
    margin: 2%;
    font-size: xx-large;
}

.menu a{
    font-weight: bolder;
    text-decoration: none;
    color : #181717;
    padding: 1%;
}

.menu a:hover{
    background-color: #181717;
    color: #F6F1F1;
    border-radius: 40px 40px 0px 0px;
    padding: 1%;
}

/*Image*/

.menu img{
    width: 4%;
    border-radius: 100%;
}