nav{
    text-align: center;
    background-color: rgb(117, 8, 8);
    border: 3px solid rgb(71, 3, 3);
    border-radius: 50px;
    text-align: center;
}

li{
    display: inline;
    border-radius: 50px;
    margin: 2%;
    font-size: xx-large;
}

a:hover{
    border-radius: 50px;
    background-color: rgb(71, 3, 3);
    padding: 1%;
}

a{
    font-weight: bolder;
    text-decoration: none;
    color: aliceblue;
}

/*Image*/
.menu img{
    width: 4%;
    border-radius: 100%;
}