header{
    width: 100%;
}
nav{
    text-align: center;
    background-color:  #F6F1F1;
}

li{
    display: inline;
    border-radius: 50px;
    margin: 2%;
    font-size: xx-large;
}

a:hover{
    border-radius: 50px;
    background-color: rgb(71, 3, 3);
    padding: 1%;
}

a{
    font-weight: bolder;
    text-decoration: none;
    color : #181717
}

/*Image*/
.menu img{
    width: 4%;
    border-radius: 100%;
}