#button2 a{
    text-decoration: none;
    margin: 10%;
}

#button2{
    margin: 5%;
    text-align: center;
}

svg{
    border: 5px dotted #F6F1F1;
    border-radius: 50%;
    overflow: visible;
}

svg:hover{
    border: none;
}

div svg:hover .arrow{
    animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

div svg:hover .arrow2{
    animation: arrow2-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    50% {
        opacity: 0.4;
        transform: translateX(0.1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(-1rem);
   }
}

@keyframes arrow2-anim {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    50% {
        opacity: 0.4;
        transform: translateX(-0.1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(1rem);
   }
}